body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Charm-Regular;
  src: url(/prova-1-web-designer/fonts/Charm-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-1 {
  background-image: url(/prova-1-web-designer/assets/bach-header-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Charm-Regular;
  display: flex;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.page-logo {
  height: 40px;
}

.page-title {
  color: white;
  margin: 25px;
}

.menu-lateral {
  background-image: url(/prova-1-web-designer/assets/barra-lateral.png);
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #333;
}

.menu-lateral ul {
  list-style: url(/prova-1-web-designer/assets/seta-menu.png);
  padding: 0;
  margin: 0;
  gap: 20px;
}

.menu-lateral li.nav-li {
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-family: Roboto-bold;
}

.menu-lateral .nav-li:hover {
  background-color: #5a82b2;
}

.link-menu:hover {
  color: white
}

.menu-lateral li.nav-li a {
  text-decoration: none;
  width: 100%;
}

.link-menu {
  color: black;
}

.menu-lateral li.nav-li img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.conteudo-principal {
  margin-left: 210px;
}

.text-webDesign {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  color: #1b6abb;
}

.linha-reta {
  width: 85%;
  margin-left: 0px;
  color: #1b6abb;
}

.text-li {
  color: #1b6abb;
  font-family: Roboto-bold;
  margin-bottom: 25px;
  white-space: normal;
}

@font-face {
  font-family: Roboto-bold;
  src: url(/prova-1-web-designer/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.imagem-1 {
  border: 2px solid #9a98ab;
}

.imagem-ux {
  width: 500px;
  border: 2px solid #9a98ab;
}

.imagem-ihc {
  height: 400px;
  border: 2px solid #9a98ab;
  margin-bottom: 15px;
  display: flex;
  margin-left: 500px;
}

.imagem-ihc-2 {
  height: 325px;
  border: 2px solid #9a98ab;
  display: flex;
  margin-left: 500px;
}

.imagem-5-design-interacao {
  border: 2px solid #9a98ab;
  height: 500px;
  margin-bottom: 10px;
}

.imagem-6-design-centrado {
  border: 2px solid #9a98ab;
  height: 400px;
}

.table-1 {
  border: 2px;
  background-color: #b2c1db;
  padding: 22px;
}

.div-imagem {
  text-align: center;
}

.imagem-7-1 {
  border: 2px solid #b2c1db;
  height: 350px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 500px;
}

.imagem-7-2 {
  border: 2px solid #b2c1db;
  height: 350px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 500px;
}

.imagem-7-3 {
  border: 2px solid #b2c1db;
  height: 415px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 500px;
}

.imagem-arquitet-info-8 {
  border: 2px solid #b2c1db;
  height: 415px;
  margin-bottom: 10px;
}

.table-arquitet-info {
  width: 800px;
}

.div-table-arquitet-info {
  margin-left: 400px;
}

.div-design-centrado {
  margin-left: 500px;
}

.table-arquitet-info {
  border-collapse: collapse;
}

.table-main {
  border-collapse: collapse;
}